.statistics-area {
    background-color: #282c34;
    color: white;
    min-height: 80vh;
    min-width: 99%;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    /* margin-left: 5px; */

}

.allData {

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.average,
.conversion {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    background-color: rgb(255, 255, 255);
    color: black;
    padding: 16px;
    margin: 16px;
    width: 400px;
    height: 350px;
    border-radius: 20px;
    /* box-shadow: 5px 3px 3px rgb(49, 214, 226); */
}

.conversion {
    margin-left: 30vh;
}