.total-table{
    position: sticky !important;
    bottom: 0 !important;
    background-color: #282c34;
    color: white;
    max-height: 115px;
}

.total-table-head-item{
    max-height: 10px !important;
    width: 150px !important;
    /* overflow: visible; */
    text-align: start !important;
    padding: 0 12px  !important;

}
.total-table-head-item{
    color: white !important;
}