.App-logo {
    height: 32px;
    pointer-events: none;
    margin-left: 15px;
  }
  @media screen and (max-width: 1000px) {
    .App-logo{
      height: 22px;
    }
  }
  @media screen and (max-width: 600px) {
    .App-logo{
      height: 17px;
    }
  }
  @media screen and (max-width: 450px) {
    .App-logo{
      display: none;
    }
  }
  
  
.filters__container{
    width: 100%;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;

}

@media screen and (max-width: 450px) {
  .filters__container{
    justify-content: space-between;
  }
}
.App-header {
   position: sticky;
   top: 0px;
    min-height: 55px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: calc(10px + 2vmin);
    background-color: white;
    width: 98%;
    border-radius: 2px;
    margin: 10px 0;
  }