.date-from, .date-to {
    margin-right: 5px !important;
    /* max-height: 25px !important; */
}

.date__container {
    margin-right: 10px;
    width: 370px;
    /* max-height: 25px !important; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;


}